<section>
    <AreaExternaHeader :pagina="Contato"/>
    <div class="corpo">
        <h1>Contatos</h1>
        <div class="contato-text">Entre em contato com os responsáveis pela Plataforma</div>
        <span v-for="contact in contacts" :key="contact.contactId" class="contato">
            <div class="card-div"> 
                <div class="card-text-div">
                    <div class="card-text-name">
                        {{contact.name}}
                    </div>
                    <div class="card-text-email">
                        {{contact.email}}
                    </div>
                </div>
            </div>
        </span>
        <div v-for="contato in contatos" :key="contato.nome" class="contato">
            <div class="div-contato">
                <h3 class="contato-titulo">{{contato.nome}}</h3>
                
                <div v-if="contato.endereco" class="contato-email">
                    <span class="contato-topico">Endereço: </span><span>{{contato.endereco}}</span>
                </div>
            </div>
        </div>

    </div>
</section>