<section>
    <AreaExternaHeader :pagina="paginaAtual" />
    <div class="corpo">
        <h1>Sobre a PUMA</h1>

        <div class="div-img-descricao">
            <div class="div-descricao">
                <h3 class="descricao-titulo">
                    {{ titleDescription }}
                </h3>
                <p class="descricao-conteudo p-sobre-ul">
                    {{ description }}
                </p>
            </div>
            <div class="div-img-sobre-oposta img-secundaria">
                <img :src="descriptionImage" class="img-sobre-oposta"
                    alt="Imagem ilustrativa sobre a Metodologia PBL da PUMA">
            </div>
        </div>

        <div class="div-img-descricao">
            <div class="div-img-sobre">
                <img :src="goalImage" class="img-sobre" alt="Imagem ilustrativa sobre a PUMA">
            </div>
            <div class="div-descricao">
                <h3 class="descricao-titulo">
                    {{ titleGoal }}
                </h3>
                <p class="descricao-conteudo p-sobre-ul">
                    {{ goal }}
                </p>
            </div>
        </div>

        <div class="div-img-descricao">
            <div class="div-descricao">
                <h3 class="descricao-titulo"> 
                    {{ titleMethodology }}
                </h3>
                <p class="descricao-conteudo">
                    {{ methodology }}
                </p>
            </div>
            <div class="div-img-sobre-oposta img-secundaria">
                <img :src="methodologyImage" class="img-sobre-oposta"
                    alt="Imagem ilustrativa sobre a Metodologia PBL da PUMA">
            </div>
        </div>

        <div class="div-img-descricao">
            <div class="div-descricao">
                <h3 class="descricao-titulo"> 
                    {{ titleTeachers }}
                </h3>
            </div>
        </div>
        <span v-for="item in professors" :key="item.userId" class="contato">
            <div class="card-div" :src="item.image" v-bind:style="{backgroundImage: `url(${item.image})`, 'background-size': 'cover', 'background-position': 'center'} ">
                <div class="card-text-div">
                    <div class="card-text-name">
                        {{item.fullName}}
                    </div>
                    <div class="card-text-email">
                        {{item.departament}}
                    </div>
                </div>
            </div>
        </span>

        <div class="div-mais-informacoes">
            <h3 class="descricao-titulo">Mais informações</h3>
            <div v-for="item in pumaMoreInfos" :key="item.moreInfoId">
                <div class="p-sobre-lista" @click="showInformacao(item.moreInfoId)">
                    <span>
                        {{item.title}}
                        <em class="arrow down"></em>
                    </span>
                </div>
                <div :id="item.moreInfoId" class="descricao-conteudo informacao-item">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>