<div class="main-content">
  <ReturnButton></ReturnButton>

  <div class='main-title'>
    Editar Projeto
  </div>

  <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="onSubmit()">
    <div class="form m-0">
      <div class="form-col-1">
        <ValidationProvider v-slot="v" :bails="false" name="título">
          <div role="group" class="group">
            <label for="titulo" class="input-label">Titulo do Projeto</label>
            <div class="error-div">
              <input type="text" id="titulo" maxlength="100" class="input-textfield"
                placeholder="Crie um título que indique o objetivo do projeto" v-model="titulo"
                v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }">
              <span class="input-error-span" v-for="erro in v.errors">
                {{ erro }}
              </span>
            </div>
            <div class="text-description">
              <em>Exemplo: <span class="text-example">Eliminação do despedício na produção de pães artesanais</span></em>
            </div>
          </div>
        </ValidationProvider>

        <ValidationProvider v-slot="v" :bails="false" name="problema enfrentado">
          <div role="group" class="group">
            <label for="descricao" class="input-label">Problema Enfrentado</label>
            <textarea id="descricao" placeholder="Descreva o desafio enfrentado usando, no mínimo, 200 caracteres."
              maxlength="1000" rows="7" v-model="descricao" class="input-textarea"
              v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }">
                </textarea>
            <span class="input-counter">({{descricao.length}}/1000)</span>
            <span class="input-error-span" v-for="erro in v.errors">
              {{ erro }}
            </span>
          </div>
        </ValidationProvider>

        <ValidationProvider v-slot="v" :bails="false" name="resultado desejado">
          <div role="group" class="group">
            <label for="resultado" class="input-label">Resultados Esperados</label>
            <textarea id="resultado" placeholder="Descreva os resultados esperados." rows="5" minlength="40"
              maxlength="1000" v-model="resultadoEsperado" class="input-textarea"
              v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }"></textarea>
            <span class="input-counter">({{resultadoEsperado.length}}/1000)</span>
            <span class="input-error-span" v-for="erro in v.errors">
              {{ erro }}
            </span>
          </div>
        </ValidationProvider>
      </div>
      <div class="form-col-2">
        <ValidationProvider v-slot="v" :bails="false" name="objetivos">
          <div role="group" class="group">
            <label for="objetivo" class="input-label">Objetivos</label>
            <textarea id="objetivos" placeholder="Descreva os objetivos do projeto." rows="5" minlength="40"
              maxlength="1000" v-model="objetivos" class="input-textarea"
              v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }"></textarea>
            <span class="input-counter">({{objetivos.length}}/1000)</span>
            <span class="input-error-span" v-for="erro in v.errors">
              {{ erro }}
            </span>
          </div>
        </ValidationProvider>
        <div>
          <label for="projectImages" class="input-label">Imagens do Projeto</label>
          <div>
            <input type="file" multiple @change="onFileChange" /><br><br>
        
            <div>
              <div>
                <div v-for="(projectImages, key) in projectImages">
                  <div class="" :id="key">
                    <button type="button" @click="removeImage(key)">
                    &times;
                    </button>
                  <img class="preview img-thumbnail" v-bind:ref="'projectImages' +parseInt( key )" /> 
                  {{ projectImages.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <label for="projectImages" class="input-label">PDF do Projeto</label>
        </div>
        <input type="file" name="upload" accept="application/pdf" @change="onPDFSubmit"/><br><br>

        <div class="div-buttons">
          <input :value="'Editar'" type="submit" class="cadastro-button" @click="onSubmit"/>

          <input :value="'Voltar'"
            type="submit" class="cadastro-button cadastro-button-voltar" @click="$router.push({path: '/projetos-parceiros'}).catch(() => {})" />
        </div>
      </div>
    </div>
  </ValidationObserver>
</div>
