<div class="h-100">
  <AreaExternaHeader/>
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" class="h-100">
        </b-col>
        <b-col cols="6">
          <b-row align-h="center">
            <div style="width:625px;" class="form">
              <b-col class="card">
                <div class="card-box">
                  <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="enviarEmail()">
                    <div v-if="!successEmailReceived">
                      <b-col class="title-box"> Recuperar senha </b-col>
                      <div class="forgot-password-text">
                        Caso tenha esquecido sua senha, digite abaixo e-mail cadastrado na plataforma para recuperá-la.<br/>
                      </div>
                    </div>
                    <form id="register-form" v-if="!successEmailReceived">
                      <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                        <div class="title-slot">
                          Insira seu e-mail
                        </div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: v.errors.length || emailNotfound}" v-model.trim="email"
                            type="text" id="email" class="input-field" placeholder="Digite o email cadastrado na plataforma" />
                          <div class="error">
                            <span class="error-span" v-for="erro in v.errors">
                              {{ erro }}
                            </span>
                          </div>
                        </div>
                      </ValidationProvider>
                      
                      <div class="button-box">
                        <input type="submit" v-bind:class="buttonStatus" v-bind:disabled='isButtonDisabled' value="Enviar e-mail de recuperação" @click.prevent="enviarEmail()" form="register-form"/>
                        <input type="reset" class="cancel-btn" value="Voltar" onclick="window.location='/login'" form="register-form" />
                      </div>
                      <Loading class="loading" v-if='isLoading' />
                    </form>
                  </ValidationObserver>
                </div>
                <div v-if="successEmailReceived" class="finish-box">
                    <font-awesome-icon class="finish-icon" icon="fa-solid fa-circle-check"/>
                    <div class="text-success-email">Uma mensagem de recuperação de senha será enviada caso o e-mail informado esteja na nossa base de dados. Por favor, verifique seu e-mail e siga os passos descritos.<br>
                    </div>
                    <input type="button" class="finish-btn" value="voltar para a pagina de login" onclick="window.location='/login'"/>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
        <b-row class="recovery-image">
          <img src="../../../assets/vetor-login.png" alt="Imagem decorativa da recuperação da senha"/>
        </b-row>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>
