body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovery-image {
    margin-top: 350px;
}

.card {
    background-color: #ffffff;
    box-shadow: 1px 1px 7px rgba(20,20,20,.3);
    padding: 1px;
    border-radius: 8px 8px 8px 8px;
    max-width: 500px;
    display: block;
    margin: 60px auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
    padding: 0px;
    gap: 35px;
    width: 725px;
}

.card-box {
    width: 450px;
    text-align: left;
}

.title-box {
    padding: 40px 0px 0px 50px;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color: #404040;
}

.forgot-password-text {
    margin-top: auto;
    padding: 10px 0px 0px 50px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #15355E;
}

.button-box {
    padding: 20px 0px 40px 40px;
    align-self: center;
}

.submit-btn {
    align-items: center;
    background-color: #CECECE;
    color: #ffffff;
    border: 1px solid #CECECE;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    width: 275px;
    height: 50px;
}

.submit-btn-unlocked {
    align-items: center;
    background-color: #15355E;
    color: #ffffff;
    border: 1px solid #15355E;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    width: 275px;
    height: 50px;
}

.cancel-btn {
    align-items: center;
    background-color: #ffffff;
    color: #15355e;
    border: 1px solid #15355E;
    border-radius: 5px;
    margin-left: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    width: 80px;
    height: 50px;
}

.finish-btn {
    background-color: #15355E;
    color: #ffffff;
    border: 1px solid #15355E;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    width: 275px;
    height: 50px;
}

.finish-box {
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.finish-icon {
    height: 86px;
    color: #15355E;
}

.text-success-email {
    font-size: 18px;
    line-height: 150%;
    color: #15355E;
    padding: 40px;
    text-align: start;
    font-size: 24px;
}

.title-slot {
    padding: 40px 0px 0px 50px;
    font-size: 18px;
    color: #15355E;
}

#register-form {
    display: flex;
    flex-direction: column;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

label {
    font-weight: bold;
    margin-bottom: 15px;
    color: #222;
    padding: 5px 10px;
    border-left: 4px solid #0060df;
}

.loading {
    font-size: 16px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.5s;
}

a {
    color: #15355e;
    text-decoration: none; /* no underline */
}

.clickable-text-left {
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 70px;
    text-align: left;
}

.clickable-text-center {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
}

.error-span {
    display: flex;
    margin-top: 10px;
    text-align: left;
    flex-direction: column;
    margin-left: 75px;
    color: #EB0600;
    font-weight: normal !important;
}

.error-div {
    display: flex;
    flex-direction: column;
    width: 100%
}

.invalid {
    border: 1px solid #EB0600;
}

.error{
    display: flex;
    /* margin-top: 6px; */
    text-align: left;
    flex-direction: column;
    font-weight: bold;
    color: #EB0600;
}

.title-page-home {
    width: 71px;
    height: 28px;
    left: 845px;
    top: 170px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #15355E;
    background-color: #ffffff;
    padding: 5px;
}

.title-page {
    width: 13px;
    height: 28px;
    left: 946px;
    top: 170px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #15355E;
    padding: 5px;
}

.title-page-local {
    width: 72px;
    height: 28px;
    left: 989px;
    top: 170px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #15355E;
    padding: 5px;
    padding-bottom: 0px;
    border-bottom: 5px solid #15355E;
}

.input-field {
    width: 400px;
    margin-top: 8px;
    align-items: center;
    border: 1px solid #757671;
    border-radius: 7px;
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}

.div-visitor-nav {
    height: 10%;
    padding-top: 30px;
}

.div-form {
    height: auto;
}