
<div class="main-content hidden-scroll-bar">
    <h1 class="tittle">
    Gerenciamento de Professores
    </h1>

    <div class="tittle sub-tittle mb-4">
    Realise o aceite de novos professores que desejam ingressar na plataforma.
    </div>

    <h2 class="tittle">
    Professores que desejam ingressar
    </h2>

    <div class = card-professor>
        <div class=teacher-image>
            <img class=tempTeacherImage src="../../assets/TempTeacherImage.jpeg">
        </div><br>
        <div class=nameNButtons>
            <div class = teacher-name>
                Nome do professor
            </div>
            <button class=buttonAccept>
                <img class=iconAccept src="../../assets/verifica2.svg">
                <div class=textAccept>Aceitar</div>
            </button>
            <button class=buttonRefuse>
                <img class=iconRefuse src="../../assets/cancela.svg">
                <div class=textRefuse>Recusar</div>
            </button>
        </div>
    </div>
</div>
