.item {
    cursor: pointer;
    height: min-content;
    width: 100%;
}

.item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.selected {
    background-color: #0A1A2F;
}

.item-title {
    color: white;
    font-weight: bold;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
}

.item-img {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
}

.item-menu {
    text-align: left;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    padding-left: 15px;
}

@media screen and (max-width: 800px) {
    .item-menu {
        padding-left: 25px;
        flex-direction: row;
    }
    .item-title {
        margin-left: 10px;
    }
}
