<div class="root">
  <AreaExternaHeader />
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" />
        <b-col class="row-centro" cols="6">
          <b-row align-h="center">
            <div class="form">
              <b-col class="card">
                <b-col class="title-box"> Bem Vindo(a) a PUMA </b-col>
                <div>
                  <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="logar()">
                    <form id="register-form">
                      <ValidationProvider rules="required|email" v-slot="v" :bails="false">
                        <div class="title-slot">E-mail</div>
                        <div class="error-div">
                          <input v-bind:class="{ invalid: v.errors.length }" v-model.trim="email" type="text" id="email"
                            class="input-field" placeholder="E-mail" />
                          <span class="error-span" v-for="erro in v.errors">
                            {{ erro }}
                          </span>
                        </div>
                      </ValidationProvider>

                      <ValidationProvider rules="required" v-slot="v" :bails="false">
                        <div class="title-slot">Senha</div>
                        <div class="error-div">
                          <div class="password-div" v-bind:class="{ invalid: v.errors.length }">
                            <input class="password-input" type="password" id="senha" v-model="password" placeholder="Senha"/>
                            <div class="eye-option" @click='mostrarOcultarSenha()'>
                                <font-awesome-icon icon="fa-solid fa-eye" ></font-awesome-icon>
                            </div>
                          </div>


                          <span class="error-span" v-for="erro in v.errors">
                            {{ erro }}
                          </span>
                        </div>
                      </ValidationProvider>

                      <div class="error" v-if='hasAuthError'>
                        <span class="error-span">
                          Email ou Senha Incorretos
                        </span>
                      </div>

                      <input type="submit" class="submit-btn" value="Entrar" v-if='!isLoading' @click.prevent="logar()" form="register-form" />

                      <div class="clickable-text-center forgot-password">
                        Esqueceu sua senha?<br/>
                        <router-link class="clickable-link" to="/recuperacao-senha">
                          <strong> Recupere aqui </strong>
                        </router-link>
                      </div>

                      <div class="clickable-text-center create-account">
                        Não possui cadastro na plataforma?<br/>
                        <router-link class="clickable-link" to="/cadastro">
                          <strong> Cadastre-se aqui </strong>
                        </router-link>
                      </div>

                      <Loading class="loading" v-if='isLoading' />
                      <br/><br/>
                    </form>
                  </ValidationObserver>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
