<div class="main-content">
  <ReturnButton />

  <div class='title'>
    {{ (operacao === 'editar') ? 'Editar perfil de usuário' : 'Criar perfil de usuário' }}
  </div>

  <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="onSubmit()">
    <div class="form m-0">
      <div class="form-col-2">
        <ValidationProvider rules="required|min:3" v-slot="v" :bails="false" name="Nome do perfil">
          <div role="group" class="group">
            <label for="name" class="input-label">Nome</label>
            <input type="text" id="typeName" maxlength="50" class="input-textfield"
              placeholder="Informe o nome do perfil que será utilizado pelos usuários da plataforma" v-model="typeName"
              :disabled=isLoading v-bind:class="{ 'input-focus': !v.errors.length , 'input-error': v.errors.length }">
            <span class="input-error-span" v-for="erro in v.errors">
              {{ erro }}
            </span>
          </div>
        </ValidationProvider>

        <div role="group" class="group">
          <label for="permissoes" class="input-label">Permissões</label>

          <div class="form-check">
            <input type="checkbox" id="canEditExternalEnvironment" v-model="canEditExternalEnvironment">
            <label for="canEditExternalEnvironment">Editar ambiente externo</label>
          </div>

          <div class="form-check">
            <input type="checkbox" id="canCreateDiscipline" v-model="canCreateDiscipline">
            <label for="canCreateDiscipline">Criar disciplina</label>
          </div>

          <div class="form-check">
            <input type="checkbox" id="canAcceptTeacher" v-model="canAcceptTeacher">
            <label for="canAcceptTeacher">Aceitar professor na plataforma</label>
          </div>

          <div class="form-check">
            <input type="checkbox" id="canRevokeUserType" v-model="canRevokeUserType">
            <label for="canRevokeUserType">Revogar perfil de usuário</label>
          </div>

          <div class="form-check">
            <input type="checkbox" id="canGiveUserType" v-model="canGiveUserType">
            <label for="canGiveUserType">Conceder perfil de usuário</label>
          </div>

          <div class="form-check">
            <input type="checkbox" id="canEditPermission" v-model="canEditPermission">
            <label for="canEditPermission">Editar permissões do perfil de usuário</label>
          </div>

          <div class="form-check">
            <input type="checkbox" id="canDeleteUserType" v-model="canDeleteUserType">
            <label for="canDeleteUserType">Deletar perfil de usuário</label>
          </div>
        </div>

        <div class="div-buttons">
          <button class="animated-button2 create-button button-enabled" @click="onSubmit()">
            <div v-if="operacao === 'cadastrar'">
              <em class="fa-solid fa-plus mr-2 add-project"></em>
              Criar perfil
            </div>
            <div v-if="operacao === 'editar'">
              <em class="fa-solid fa-pen mr-2 add-project"></em>
              Editar perfil
            </div>
          </button>
          <button class="animated-button2 cancel-button" @click="$router.push({path: '/tipoUsuario'}).catch(() => {})"
            v-if="operacao === 'cadastrar'">
            Cancelar
          </button>
          <button class="animated-button delete-button" @click="deleteUserType(userTypeId)"
            v-if="operacao === 'editar'">
            <em class="fa-solid fa-trash mr-2 add-project"></em>
            Deletar perfil
          </button>
        </div>

      </div>
    </div>
  </ValidationObserver>
</div>