<div class="root">
  <AreaExternaHeader />
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col class="row-centro" cols="12">
          <b-row align-h="center">
            <div class="card">
              <div class="border-card">
                <div class="title-box" v-show="page < 4">
                  Bem Vindo(a) a PUMA
                </div>

                <ValidationObserver ref="observer" v-slot="{invalid}" @submit.prevent="onSubmit()">
                  <div class="poscadastro" v-show="page === 4">
                    <img class="sucesso" src="../../../../assets/sucesso.svg" alt="sucesso">
                    <span>Seu cadastro foi realizado com sucesso</span>
                  </div>

                  <form id="register-form">
                    <ValidationProvider v-slot="{ errors }" :bails="false" v-show="page === 3">
                      <label class="required">Foto de perfil do usuário</label>
                      <div class="error-div">
                        <div class="image-input-container" v-bind:style="{backgroundImage: `url(${image})`}">
                          <label for="image" class="image-input-label">
                            <img class="image-input-icon" src="../../../../assets/download-direto.png" alt="ícone">
                            <span>Escolha um arquivo <br>ou arraste ele aqui</span>
                          </label>
                          <input type="file" class="image-input" id="image" accept="image/*" @change="handleImage($event.target)" :disabled="isLoading">
                        </div>
                        <span class="error-span" v-if="imageError">
                          O tamanho da imagem deve ser menor que 2MB
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider rules="required|alpha_spaces" v-slot="v" :bails="false" name="nome" v-show="page === 2">
                      <label class="required">Nome</label>
                      <div class="error-div">
                        <input v-on:change="verificaPreenchimento()" v-model.trim="name" placeholder="Nome Completo" type="text" id="name" :class="v.classes" class="input-field" />
                        <span class="error-span" for="name" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider rules="required|email" v-slot="v" :bails="false" name="email" v-show="page === 2">
                      <label class="required">E-mail</label>
                      <div class="error-div">
                        <input v-on:change="verificaPreenchimento()" v-model.trim="email" type="text" id="email" placeholder="E-mail" :class="v.classes" class="input-field" />
                        <span v-if="errors.length === 0" class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                        <span class="error-span" v-for="erro in errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider :rules="{required: true, min: 14, phoneNumber:true}" v-slot="v" :bails="false" mode="eager" name="telefone" v-show="page === 2">
                      <label class="required">Telefone</label>
                      <div class="error-div">
                        <input v-on:change="verificaPreenchimento()" v-mask=" phoneNumber.length <= 14 ? '(##) ####-####' : '(##) #####-####'" v-model="phoneNumber" id="phoneNumber" placeholder="Telefone" :class="v.classes" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider :rules="{required: true, min: 6, regex: /(?=.*[a-zA-Z])(?=.*[0-9])/ }" v-slot="v" :bails="false" v-show="page === 2">
                      <label class="required">Senha</label>
                      <div class="error-div">
                        <div class="password-div" v-bind:class="{ invalid: v.errors.length }">
                          <input v-on:change="verificaPreenchimento()" :type="passwordTypeText ? 'text' : 'password'" v-model="password" id="senha" placeholder="Mínimo 6 caracteres com letras e números" :class="v.classes" class="password-input" />
                          <div class="eye-option" @click="mostrarOcultarSenha('senha')">
                            <font-awesome-icon icon="fa-solid fa-eye"></font-awesome-icon>
                          </div>
                        </div>
                        <span class="error-span">
                          {{ v.errors[0] }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider :rules="{required: true, confirmed: {target: password}}" v-slot="v" :bails="false" v-show="page === 2">
                      <label class="required label-repeat-password">Repita sua senha</label>
                      <div class="error-div">
                        <div class="password-div" v-bind:class="{ invalid: v.errors.length }">
                          <input v-on:change="verificaPreenchimento()" :type="repeatPasswordTypeText ? 'text' : 'password'" v-model="repeatPassword" name="repita sua senha" type="password" id="repeatPassword" placeholder="Repita sua senha" :class="v.classes" class="password-input" />
                          <div class="eye-option" @click="mostrarOcultarSenha('repeatPassword')">
                            <font-awesome-icon icon="fa-solid fa-eye"></font-awesome-icon>
                          </div>
                        </div>

                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider rules="required" v-slot="v" :bails="false" v-show="page === 1">
                      <label class="required">Tipo de usuário</label>
                      <div class="error-div">
                        <select v-on:change="alterarTipoUsuario()" :class="v.classes" v-model="type" name="tipo" id="tipo" class="input-field">
                          <option value="" selected class="disabled">
                            Selecione
                          </option>
                          <option value="Aluno">Aluno</option>
                          <option value="Professor">Professor</option>
                          <option value="Agente Externo">Agente Externo</option>
                        </select>
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="hasMatricula && page === 1" :rules="{required: hasMatricula, min: { length: type === 'Aluno' ? 10 : 7 }}" v-slot="v" validate-on="blur" :bails="false" name="matrícula">
                      <label class="required">Matrícula</label>
                      <div class="error-div">
                        <input v-mask="type === 'Aluno' ? '##/#######' : '#######'" v-model="matricula" :class="v.classes" id="matricula" placeholder="Digite sua matrícula" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isExternalAgent && page === 1" :rules="{required: isExternalAgent}" v-slot="v" :bails="false">
                      <label class="required">Tipo de Agente Externo</label>
                      <div class="error-div">
                        <select v-on:change="alterarTipoAgenteExterno()" v-model="externalAgentType" :class="v.classes" class="input-field">
                          <option value="" class="disabled">
                            Selecione
                          </option>
                          <option value="Pessoa Fisica">Pessoa Física</option>
                          <option value="Pessoa Juridica">Pessoa Jurídica</option>
                        </select>
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="hasMatricula && page === 1" :rules="{required: hasUniversity, min: { length: 3}}" validate-on="blur" :bails="false" v-slot="v" name="university">
                      <label class="required">Universidade</label>
                      <div class="error-div">
                        <input :class="v.classes" id="university" placeholder="Digite sua universidade" class="input-field" v-model="university" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="hasMatricula && page === 1" :rules="{required: hasDepartament, min: { length: 3}}" validate-on="blur" :bails="false" v-slot="v" name="departament">
                      <label class="required">Departamento</label>
                      <div class="error-div">
                        <input :class="v.classes" id="departament" placeholder="Digite seu departamento" class="input-field" v-model="departament" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="hasMatricula && page === 1" :rules="{required: hasCourse, min: { length: 5}}" validate-on="blur" :bails="false" v-slot="v" name="course">
                      <label class="required">Curso</label>
                      <div class="error-div">
                        <input :class="v.classes" id="course" placeholder="Digite seu curso" class="input-field" v-model="course" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isJuridical && page === 1" :rules="{required: isJuridical}" v-slot="v" :bails="false">
                      <label class="required">Noma da empresa</label>
                      <div class="error-div">
                        <input v-model.trim="companyName" :class="v.classes" name="nome da empresa" id="companyName" type="name" placeholder="Digite o nome da empresa" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isJuridical && page === 1" :rules="{required: isJuridical, min : {length: 18}, cnpj: true}" v-slot="v" :bails="false">
                      <label class="required">CNPJ</label>
                      <div class="error-div">
                        <input v-mask="'##.###.###/####-##'" :class="v.classes" id="cnpj" v-model="cnpj" placeholder="Digite o CNPJ da empresa" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isJuridical && page === 1" :rules="{required: isJuridical}" v-slot="v" :bails="false">
                      <label class="required">Razão social</label>
                      <div class="error-div">
                        <input v-model.trim="socialReason" :class="v.classes" type="name" id="socialReason" placeholder="Digite a razão social da empresa" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <ValidationProvider v-show="isPhysical && page === 1" :rules="{required: isPhysical, min : {length: 14}, cpf: true}" v-slot="v" :bails="false">
                      <label class="required">CPF</label>
                      <div class="error-div">
                        <input v-mask="'###.###.###-##'" :class="v.classes" v-model="cpf" id="cpf" placeholder="Digite seu CPF" class="input-field" />
                        <span class="error-span" v-for="erro in v.errors">
                          {{ erro }}
                        </span>
                      </div>
                    </ValidationProvider>

                    <span v-show="showMessage && page === 2" class="error-span">
                      Preencha Todos os Campos
                    </span>

                    <b-container fluid class="div-troca-pagina">
                      <b-row>
                        <b-col>
                          <b-row align-h="center" v-show="page > 3">
                            <em style="cursor: pointer" @click="goToLogin()">
                              <input class="next-page" value="Fazer login" />
                            </em>
                          </b-row>
                          <b-row align-h="center" v-show="page === 3">
                            <em style="cursor: pointer" @click="changePage(false)">
                              <input v-show="!isLoading" type="submit" v-bind:class="{ 'next-page': type==='Aluno' || type==='Professor' || type==='Agente Externo', 'next-page-disabled': !(type==='Aluno' || type==='Professor' || type==='Agente Externo') }" value="Finalizar Cadastro" @click.prevent="onSubmit" form="register-form" />
                            </em>
                          </b-row>
                          <b-row align-h="center" v-show="page < 3">
                            <em style="cursor: pointer" @click="changePage(false)">
                              <input class="next-page" value="Prosseguir" />
                            </em>
                          </b-row>
                        </b-col>
                      </b-row>
                      <b-row>
                        <b-col>
                          <b-row align-h="center" v-show="page > 1 && page == 4">
                            <em style="cursor: pointer" @click="goToInitialPage()">
                              <input class="previous-page" value="Voltar a pagina inicial" />
                            </em>
                          </b-row>
                          <b-row align-h="center" v-show="page > 1 && page < 4">
                            <em style="cursor: pointer" @click="changePage(true)">
                              <input class="previous-page" value="Voltar" />
                            </em>
                          </b-row>
                        </b-col>
                      </b-row>
                    </b-container>

                    <div class="clickable-text-center create-account" v-show="page === 1">
                      <router-link class="clickable-link" to="/login">
                        <strong> Voltar a tela inicial </strong>
                      </router-link>
                    </div>

                    <Loading class="loading" v-show='isLoading' />
                    <br />
                  </form>
                </ValidationObserver>
              </div>
            </div>
          </b-row>
        </b-col>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>