<div class="h-100">
  <AreaExternaHeader/>
  <div class="w-100 div-form">
    <b-container fluid class="h-100">
      <b-row class="h-100">
        <b-col cols="3" class="h-100">
        </b-col>
        <b-col cols="6">
          <b-row align-h="center">
            <div style="width:725px;" class="form">
              <b-col class="card">
                <div>
                  <div v-if="!passwordRedefined" >
                    <b-col class="title-box"> Redefinição de senha </b-col>
                    <div class="forgot-password-text">
                      Por favor, cadastre uma nova senha para acessar a PUMA.<br/>
                    </div>

                    <form id="register-form">
                      
                      <ValidationObserver ref="observer" v-slot="{ invalid }">
                        <div style="display: flex; flex-direction: column;  align-items: center; margin-top: 20px;">
                          
                          <b-form-group class="col-md-10">
                            <template #label>
                              <div class="title-slot">
                                Insira sua senha
                              </div>
                            </template>
                  
                            <validation-provider :rules="{ required: true, min: 8, regex: /(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[@$!%*#?&])/ }" v-slot="{ errors }" name="Senha">
                              <b-form-input @input="verifyConfirmPassword" type="password" placeholder="Digite sua senha" v-bind:class="{ invalid: errors.length }" class="custom-input" id="newPassword" v-model="newPassword"/>
                              <div class="eye-option" @click='mostrarOcultarSenha()'>
                                <font-awesome-icon icon="fa-solid fa-eye" ></font-awesome-icon>
                              </div>
                              <span class="error">{{ errors[0] }}</span>
                            </validation-provider>
                          </b-form-group>
                  
                          <b-form-group class="col-md-10" style="margin-top: 20px;">
                            <template #label>
                              <span class="title-slot">Repita a senha</span>
                            </template>
                  
                            <validation-provider rules="required" v-slot="{ errors }">
                              <b-form-input @input="verifyConfirmPassword" type="password" placeholder="Digite novamente sua senha" v-bind:class="{ invalid: errors.length || isEqualsToNewPassword === false }" class="custom-input" id="confirmNewPassword" v-model="confirmNewPassword"/>
                              <div class="eye-option" @click='mostrarOcultarRepetirSenha()'>
                                <font-awesome-icon icon="fa-solid fa-eye" ></font-awesome-icon>
                              </div>
                              <span class="error">{{ errors[0] }}</span>
                              <span class="error-span" v-if="isEqualsToNewPassword === false">
                                As senhas informadas não coincidem.
                              </span>
                            </validation-provider>
                          </b-form-group>
                        </div>
                      </ValidationObserver>


                      <div class="button-box">
                        <input type="submit" v-bind:class="buttonStatus" v-bind:disabled='isButtonDisabled' value="Redefinir Senha" @click.prevent="updatePassword()" form="register-form"/>
                        <input type="reset" class="cancel-btn" value="Voltar" onclick="window.location='/login'" form="register-form" />
                      </div>

                      <Loading class="loading" v-if='isLoading' />
                    </form>
                  </div>
                  <div v-if="passwordRedefined" class="finish-box">
                    <font-awesome-icon class="finish-icon" icon="fa-solid fa-circle-check"/>
                    <div class="text-success-password">Sua senha foi redefinida com sucesso! Clique no botão abaixo para acessar a plataforma.<br>
                    </div>
                    <input type="button" class="finish-btn" value="voltar para a pagina de login" onclick="window.location='/login'"/>
                  </div>
                </div>
              </b-col>
            </div>
          </b-row>
        </b-col>
                <b-row class="recovery-image">
          <img src="../../../assets/vetor-login.png" alt="Imagem decorativa da recuperação da senha"/>
        </b-row>
        <b-col cols="3" />
      </b-row>
    </b-container>
  </div>
</div>
