
<div class="main-content hidden-scroll-bar">
    <h1 class="tittle">
        Perfis de usuário
    </h1>

    <div class="tittle sub-tittle mb-4">
        Crie perfis e atribua responsabilidades a eles.
    </div>

    <div>
    <button
        class="btn cd-btn my-3"
        onclick="window.location.href = '/tipoUsuario/cadastrar'">
        <em class="fa-solid fa-plus mr-2 add-project"></em>Criar perfil
    </button>
    </div>

    <div class="tabelas">
    <ListaConsultaTipoUsuario class="meusUsuarios"/>

    </div>
</div>
