.title {
    color: #15355E;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.sub-title {
    font-size: 20px;
    font-weight: normal;
}

.form {
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 1500px;
}

.group {
    margin-bottom: 30px;
}

.cancel-btn {
    background-color: #ffffff;
}

.input-multiselect >>> .multiselect__option--highlight:after {
    background-color:  #15355E;
}

.input-multiselect >>> .multiselect__option--highlight {
    background-color:  #15355E;
}

.form-col-1 {
    flex: 1;
}

.form-col-2 {
    flex: 1;
    margin-left: 20px;
    
}

.form-sub-col {
    display: flex;
}

.form-sub-col-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-sub-col-2 {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .form {
        flex-direction: column;
    }

    .form-col-2 {
        margin-left: 0px;
    }
}

.div-buttons {
    margin-top: 40px;
    text-align: right;
}

.cadastro-button {
    align-items: center;
    background-color: #15355e;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    padding: 5px;
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
    width: 150px;
    letter-spacing: 0.03em;
    text-align: center;
}

.cadastro-button-voltar {
    margin-left: 20px;
    color: #15355e;
    border: 1px solid #15355e;
    background-color: #ffffff;
}

.cadastro-button-deletar {
    margin-left: 20px;
    color: #15355e;
    border: 1px solid #15355e;
    background-color: #ffffff;
}

.cadastro-button:hover {
    background-color: #6E97CC;
}

.cadastro-button-voltar:hover {
    color: #ffffff;
    background-color: #15355e;
}

.cadastro-button-deletar:hover {
    color: #ffffff;
    background-color: #8d0000;
}

.popupAlert {
    display: inline-block;
    margin-left: 2em;
}

@media screen and (max-width: 500px) {
    .div-buttons {
        display: flex;
    }
    .cadastro-button {
        width: 140px;
    }
}

.image-input-container {
    display: flex;
    flex-direction: column;
    background-color: #CECECE;
    border: #fff 2px;
    border-radius: 25px;
    border-style: dashed;
    width: 250px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.image-input-container:hover {
    border: #15355E 2px;
    border-style: dashed;
}

.image-input-label {
    cursor: pointer;
    padding-top: 90px;
    padding-bottom: 45px;
    text-align: center;
    margin: 0px;
}

.image-input-icon {
    height: auto;
    width: 70px;
    margin: 0 auto;
    display: block;
}

.image-input-label span {
    font-size: 18px;
    font-weight: 500;
    color: #15355E;
    margin-top: 10px;
    display: block;
}

.image-input {
    opacity: 0;
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    z-index: -1;
}

.image-input-label-selected {
    cursor: pointer;
    padding-top: 90px;
    padding-bottom: 45px;
    text-align: center;
    margin: 0px;
}

.image-input-label-selected span {
    font-size: 18px;
    font-weight: 500;
    color: #15355E;
    margin-top: 10px;
    display: block;
}

.image-input-container-selected {
    display: flex;
    flex-direction: column;
    background-color: #CECECE;
    border: #fff 2px;
    border-radius: 25px;
    border-style: dashed;
    width: 250px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.image-input-label-selected {
    opacity: 0;
}

.image-input-container-selected:hover > .image-input-label-selected span {
    color: #ffffff;
}

.image-input-container-selected:hover > .image-input-label-selected {
    opacity: 1;
}

.input-textarea {
    height: 50%;
}
