
<div class="main-content hidden-scroll-bar">
    <h1 class="tittle">
    Perfis de usuário
    </h1>

    <div class="tittle sub-tittle mb-4">
    Veja os perfis de usuário existentes na plataforma e os gerencie.
    </div>

    <div>
    <button
        class="btn cd-btn my-3"
        onclick="window.location.href = '/usuarios/cadastrar'">
        <em class="fa-solid fa-plus-square mr-2 add-project"></em>Criar perfil de usuário
    </button>
    </div>

    <div class="tabelas">
    <ListaConsultaUsuario class="meusUsuarios"
        :title="'Seus Usuários'"
        :dataSubjects="mySubjects"
        :subjectSearch="subjectSearch"/>

    <hr class="mb-0 mt-5">
</div>
