<div class="main-content">
    <ReturnButton/>

    <div class='main-title'>
      Criar Turma
    </div>

    <div class="sub-title">
    Preencha os campos abaixo para criar turmas para uma disciplina já existente
    </div>

    <div class="content-all">
      <div class="content content-big">
        <label class="label">
          Selecione a disciplina para adicionar uma turma
        </label>
        <!-- <select class="select-subject" v-model="subjectForm">
          <option value="" selected hidden>Selecione a disciplina</option>
          <option v-for="subject in mySubjects" :key="subject.subjectid" :value="subject">{{subject.name}}</option>
        </select> -->

        <div class="content-select">
          <div class="select-subject" @click="dispSelectSubject = !dispSelectSubject">
            {{(subjectForm?subjectForm.name:"Selecione a disciplina")}}

            <em class="fas fa-chevron-down arrow-select" v-show="!dispSelectSubject"></em>
            <em class="fas fa-chevron-up arrow-select" v-show="dispSelectSubject"></em>
          </div>
          <div class="content-options-select" v-if="dispSelectSubject">
            <div class="content-item-options-select" v-for="subjectItem in mySubjects" :key="subjectItem.subjectid" @click="setSubjectForm(subjectItem)">
              <div v-show="subjectItem !== subjectForm" class="content-item-select">
                <em class="far fa-circle mr-2"></em>
                {{subjectItem.name}}
              </div>

              <div v-show="subjectItem === subjectForm" class="content-item-select content-item-selected">
                <em class="fa-solid fa-circle-dot mr-2"></em>
                {{subjectItem.name}}
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="content content-big">
        <label class="label">
          Informe o código da turma, conforme o SIGAA
        </label>
        <div class="label-t">
          T
        </div>
        <input type="text" class="input-text" placeholder="Digite no máximo dois números" v-model="codeForm">
        <p class="p-observation">De acordo com o SIGAA, o modelo de turmas é T01, T02...</p>
      </div>

      <div class="content content-medium">
        <label class="label">
          Em qual período a turma será ministrada?
        </label>

        <div class="content content-small">
          <label class="label">
            Ano
          </label>
          <input class="input-text input-text-big" type="text" placeholder="Digite" v-model="yearForm">
          <p class="p-observation">Ex.: 2020</p>
        </div>

        <div class="content content-small">
          <label class="label">
            Semestre
          </label>


          <div class="content-select">
            <div class="select-subject" @click="dispSelectSubject = !dispSelectSubject">
              {{(semesterForm?formatSemester():"Selecione")}}

              <em class="fas fa-chevron-down arrow-select" v-show="!dispSelectSubject"></em>
              <em class="fas fa-chevron-up arrow-select" v-show="dispSelectSubject"></em>
            </div>
            <div class="content-options-select" v-if="dispSelectSubject">
              <div class="content-item-options-select" v-for="semester in listSemesters" :key="semester.value" @click="setSemesterForm(semester.value)">
                <div v-show="semester.value !== semesterForm" class="content-item-select">
                  <em class="far fa-circle mr-2"></em>
                  {{semester.name}}
                </div>

                <div v-show="semester.value === semesterForm" class="content-item-select content-item-selected">
                  <em class="fa-solid fa-circle-dot mr-2"></em>
                  {{semester.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="content content-very-big">
        <label class="label">
          Em qual horário da semana?
        </label>

        <div class="content content-small">
          <label class="label">
            Dia da semana
          </label>

          <div class="content-select">
            <div class="select-subject" @click="dispSelectSubject = !dispSelectSubject">
              {{(dayScheduleForm?dayScheduleForm:"Selecione")}}

              <em class="fas fa-chevron-down arrow-select" v-show="!dispSelectSubject"></em>
              <em class="fas fa-chevron-up arrow-select" v-show="dispSelectSubject"></em>
            </div>
            <div class="content-options-select" v-if="dispSelectSubject">
              <div class="content-item-options-select" v-for="day in listDays" :key="day.value" @click="setDayForm(day.value)">
                <div v-show="day.value !== dayScheduleForm" class="content-item-select">
                  <em class="far fa-circle mr-2"></em>
                  {{day.value}}
                </div>

                <div v-show="day.value === dayScheduleForm" class="content-item-select content-item-selected">
                  <em class="fa-solid fa-circle-dot mr-2"></em>
                  {{day.value}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-time">
          <div class="content content-small">
            <label class="label">
              Início
            </label>
            <input type="text" class="input-text input-text-big" placeholder="00:00" v-model="startScheduleForm">
          </div>

          <div class="content content-small">
            <label class="label">
              Términio
            </label>
            <input type="text" class="input-text input-text-big" placeholder="00:00" v-model="endScheduleForm">
          </div>

          <p class="p-observation">Apenas número no formato HH:MM Ex.: 17:30</p>
        </div>

        <button
            class="btn-time"
            onclick="window.location.href = '/turma/0'">
            <em class="fa-solid fa-plus mr-2 add-project"></em>Adicionar outro dia
        </button>
      </div>

      <div class="content content-big">
        <label class="label">
          Quais professores serão responsáveis pela turma?
        </label>



        <!-- <div class="content-select">
          <div class="select-subject" @click="dispSelectSubject = !dispSelectSubject">
            {{(dayScheduleForm?dayScheduleForm:"Selecione")}}

            <em class="fas fa-chevron-down arrow-select" v-show="!dispSelectSubject"></em>
            <em class="fas fa-chevron-up arrow-select" v-show="dispSelectSubject"></em>
          </div>
          <div class="content-options-select" v-if="dispSelectSubject">
            <div class="content-item-options-select" v-for="day in listDays" :key="day.value" @click="setDayForm(day.value)">
              <div v-show="day.value !== dayScheduleForm" class="content-item-select">
                <em class="far fa-circle mr-2"></em>
                {{day.value}}
              </div>

              <div v-show="day.value === dayScheduleForm" class="content-item-select content-item-selected">
                <em class="fa-solid fa-circle-dot mr-2"></em>
                {{day.value}}
              </div>
            </div>
          </div>
        </div> -->

        <select class="select-subject" v-model="teachersForm">
          <option v-for="professor in subjectForm.professors" :key="professor.userId" :value="professor.userId">{{professor.fullname}}</option>
        </select>
      </div>

      <div class="line"></div>

      <div class="content content-big">
        <label class="label">
          Informe uma senha para seus alunos ingressarem na turma
        </label>
        <input class="input-text input-text-medium" type="text" placeholder="Digite a senha" v-model="passwordForm">
      </div>

      <div>
        <button
            v-if="classId === '0'"
            class="btn-create"
            @click="onSubmit()">
            <em class="fa-solid fa-plus mr-2 add-project"></em>Criar turma
        </button>

        <button
            v-if="classId !== '0'"
            class="btn-create"
            @click="onSubmit()">
            <em class="fa-solid fa-plus mr-2 add-project"></em>Editar turma
        </button>

        <button
            class="btn-cancel"
            onclick="window.location.href = '/turmas'">
            Cancelar
        </button>
      </div>
    </div>
</div>
