<div class="partner-container">
    <div class="sub-title">
        Nossos principais parceiros:
    </div>
    <div class="partner-row">
        <div v-for="item in partners" :key="item.partnerId">
            <img v-b-modal="'my-modal'" @click="sendInfo(item)" class="partner-logo" :src="item.enterpriseLogo"/>

            <!-- Using value -->
            <!-- <b-button v-b-modal="'my-modal'">Show Modal</b-button> -->

            <!-- The modal -->
        </div>
    </div>
    <b-modal class="partner-modal" modal-footer="" id="my-modal" size="xl">
        <div class="sub-title">
            {{selectedPartner.name}}
        </div>
        <div class="modal-description">
            <p>{{selectedPartner.description}}</p>
            <img class="modal-logo" :src="selectedPartner.enterpriseLogo"/>
        </div>
        <div class="sub-title" style="margin-top: 15px;"> 
            {{selectedPartner.projectName}}
        </div>
        <p>{{selectedPartner.projectDescription}}</p>
        <div class="partner-imgs" v-for="item, index in partnerImgs" :key="index">
            <div>
                <img class="modal-logo" :src="item"/>
            </div>
        </div>
        <div slot="modal-footer"></div>
    </b-modal>
</div>
